<!DOCTYPE html>
<html>
  <head>
      <title>whatever</title>
  </head>
    <div class="main">
  <header>
    <div class="header-logo">
      <%= link_to("Whatever","/home/top")%>
    </div>
  </header>
  <body>
    <div class="answer">
      <div class="restaurant_name"><%= @the_restaurant %></div>

      <p>はいかがでしょうか</p>
      <a class="back" href="/home/top">戻る</a>
    </div>
  </body>
</html>
