<!DOCTYPE html>
<html>
  <head>
      <title>whatever</title>
  </head>
  <div class="main">
  <header>
      <div class="header-logo">
        <%= link_to("Whatever","/home/top")%>
      </div>
  </header>
  <body>
    <div class="top">
      <p2>ある日百万遍で</p2>
      <p class="letsask">今日のご飯どうする?</p>

      <a href="/answer" class="start_button">なんでもいいよ</a>
    </div>
  </body>
  </div>
</html>
